<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<!-- head -->
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HelloNature-Magazine-Main</title>
    <link rel="stylesheet" th:href="@{/user/css/reset.css}">
    <link rel="stylesheet" th:href="@{/user/css/magazine.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/user/css/layout.css}">
    <!-- axios -->
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<!-- head 끝 -->
<body>
    <!-- container -->
    <div id="container">
        <!-- header -->
        <div th:replace="/user/fragment/header::header"></div>
        <!-- header 끝 -->

        <!-- main -->
        <main>
            <!-- 세부 카테고리 -->
            <div id="prod_category_wrap">
                <div class="prod_category_box">
                    <div class="prod_cate_tit">매거진</div>
                    <ul class="prod_cate_list">
                        <li class="prod_cate" onclick="location.href='/user/magazine'" style="color: #0db081; font-weight: bold; border-bottom: 1px solid #0db081">전체</li><!--
                     --><li class="prod_cate" onclick="location.href='/user/magazine/recipe?page=0'">레시피</li><!--
                     --><li class="prod_cate" onclick="location.href='/user/magazine/adventure?page=0'">탐험노트</li><!--
                     --><li class="prod_cate" onclick="location.href='/user/magazine/lifestyle?page=0'">라이프스타일</li><!--
                     --><li class="prod_cate" onclick="location.href='/user/magazine/kitchen?page=0'">키친가이드</li>
                    </ul>
                </div>
            </div>
            <!-- 세부 카테고리 끝 -->

            <!-- magazine_content -->
            <section id="magazine_content" class="clearfix">
                <!-- 레시피 미리보기 (3 column slide) -->
                <div class="recipe_preview width clearfix">
                    <p>레시피</p>
                    <div class="preview_controls">
                        <div class="preview_btn_prev" id="rec_pre_btn_prev"><img src="/user/images/magazine/main/btn_prev_default.png" alt=""></div>
                        <div class="preview_btn_next" id="rec_pre_btn_next"><img src="/user/images/magazine/main/btn_next_default.png" alt=""></div>
                    </div>
                    <div class="preview_wrap">
                        <ul class="preview_box" id="rec_pre_box">
                            <li class="preview" id="rec_pre">
                                <a>
                                    <img src="/user/images/magazine/recipe_main/20200514120304710.jpg" alt="">
                                    <div class="preview_info">
                                        <p class="preview_title" id="rec_pre_tit">레시피 제목</p>
                                        <p class="preview_text" id="rec_pre_des">레시피 설명</p>
                                    </div>
                                </a>
                            </li>
                            <li class="preview" id="rec_pre">
                                <a href="">
                                    <img src="/user/images/magazine/recipe_main/20200520135123113.jpg" alt="">
                                    <!-- item_info -->
                                    <div class="preview_info">
                                        <p class="preview_title">레시피 이름</p>
                                        <p class="preview_text">레시피 한줄 설명</p>
                                        <!-- # item_info -->
                                    </div>
                                    <!-- # item -->
                                </a>
                            </li>
                            <li class="preview" id="rec_pre">
                                <a href="">
                                    <img src="/user/images/magazine/recipe_main/20200527154140448.jpg" alt="">
                                    <!-- item_info -->
                                    <div class="preview_info">
                                        <p class="preview_title">레시피 이름</p>
                                        <p class="preview_text">레시피 한줄 설명</p>
                                        <!-- # item_info -->
                                    </div>
                                    <!-- # item -->
                                </a>
                            </li>
                            <li class="preview" id="rec_pre">
                                <a href="">
                                    <img src="/user/images/magazine/recipe_main/20200707171216305.jpg" alt="">
                                    <!-- item_info -->
                                    <div class="preview_info">
                                        <p class="preview_title">레시피 이름</p>
                                        <p class="preview_text">레시피 한줄 설명</p>
                                        <!-- # item_info -->
                                    </div>
                                    <!-- # item -->
                                </a>
                            </li>
                            <li class="preview" id="rec_pre">
                                <a href="">
                                    <img src="/user/images/magazine/recipe_main/20200714105556596.jpg" alt="">
                                    <!-- item_info -->
                                    <div class="preview_info">
                                        <p class="preview_title">레시피 이름</p>
                                        <p class="preview_text">레시피 한줄 설명</p>
                                        <!-- # item_info -->
                                    </div>
                                    <!-- # item -->
                                </a>
                            </li>
                            <li class="preview" id="rec_pre">
                                <a href="">
                                    <img src="/user/images/magazine/recipe_main/20200812115927534.jpg" alt="">
                                    <!-- item_info -->
                                    <div class="preview_info">
                                        <p class="preview_title">레시피 이름</p>
                                        <p class="preview_text">레시피 한줄 설명</p>
                                        <!-- # item_info -->
                                    </div>
                                    <!-- # item -->
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- 레시피 미리보기 (3 column slide) 끝 -->

                <!-- 탐험노트 미리보기 (3 column slide) -->
                <div class="adventure_preview width clearfix">
                    <p>탐험노트</p>
                    <div class="preview_controls">
                        <div class="preview_btn_prev" id="adv_pre_btn_prev"><img src="/user/images/magazine/main/btn_prev_default.png" alt=""></div>
                        <div class="preview_btn_next" id="adv_pre_btn_next"><img src="/user/images/magazine/main/btn_next_default.png" alt=""></div>
                    </div>
                    <div class="preview_wrap">
                        <ul class="preview_box" id="adv_pre_box">
                            <li class="preview" id="adv_pre">
                                <a href="">
                                    <img src="/user/images/magazine/adventure_main/20201201145950652.jpg" alt="">
                                    <div class="preview_info">
                                        <p class="preview_title">우보 씨와 토종쌀</p>
                                        <p class="preview_text">우보농장 이근이 농부가 전하는 토종쌀, 아롱이다롱이의 이야기</p>
                                    </div>
                                </a>
                            </li>
                            <li class="preview" id="adv_pre">
                                <a href="">
                                    <img src="/user/images/magazine/adventure_main/20200907174611726.jpg" alt="">
                                    <div class="preview_info">
                                        <p class="preview_title">무던히 모던하게 테일러커피</p>
                                        <p class="preview_text">완벽한 원두와 로스팅에 대한 고집 있는 선택. 오늘, 가장 모던한 테일러커피를 만났습니다.</p>
                                    </div>
                                </a>
                            </li>
                            <li class="preview" id="adv_pre">
                                <a href="">
                                    <img src="/user/images/magazine/adventure_main/20200730180255492.gif" alt="">
                                    <div class="preview_info">
                                        <p class="preview_title">헬로네이처 간편생활백서</p>
                                        <p class="preview_text">주문부터 배송까지 즐겁고 편리할 수 있도록. 고민은 헬로네이처가 할게요. 즐기기만 하세요.</p>
                                    </div>
                                </a>
                            </li>
                            <li class="preview" id="adv_pre">
                                <a href="">
                                    <img src="/user/images/magazine/adventure_main/20210628173831876.jpg" alt="">
                                    <div class="preview_info">
                                        <p class="preview_title">탐험노트 제목</p>
                                        <p class="preview_text">탐험노트 한줄 설명</p>
                                    </div>
                                </a>
                            </li>
                            <li class="preview" id="adv_pre">
                                <a href="">
                                    <img src="/user/images/magazine/adventure_main/20210121181354732.jpg" alt="">
                                    <div class="preview_info">
                                        <p class="preview_title">탐험노트 제목</p>
                                        <p class="preview_text">탐험노트 한줄 설명</p>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- 탐험노트 미리보기 (3 column slide) 끝 -->

                <!-- 라이프스타일 미리보기 (3 column slide) -->
                <div class="lifestyle_preview width clearfix">
                    <p>라이프스타일</p>
                    <div class="preview_controls">
                        <div class="preview_btn_prev" id="life_pre_btn_prev"><img src="/user/images/magazine/main/btn_prev_default.png" alt=""></div>
                        <div class="preview_btn_next" id="life_pre_btn_next"><img src="/user/images/magazine/main/btn_next_default.png" alt=""></div>
                    </div>
                    <div class="preview_wrap">
                        <ul class="preview_box" id="life_pre_box">
                            <li class="preview" id="life_pre">
                                <a href="">
                                    <img src="/user/images/magazine/lifestyle_main/20200617163559599.jpg" alt="">
                                    <div class="preview_info">
                                        <p class="preview_title">워킹맘의 장바구니</p>
                                        <p class="preview_text">아이를 위한 먹거리를 깐깐하게 골라 담은 워킹맘의 장바구니를 엿봅니다.</p>
                                    </div>
                                </a>
                            </li>
                            <li class="preview" id="life_pre">
                                <a href="">
                                    <img src="/user/images/magazine/lifestyle_main/20200807150315570.jpg" alt="">
                                    <div class="preview_info">
                                        <p class="preview_title">비거니즘 베이커리 더브레드블루</p>
                                        <p class="preview_text">'인생 첫 비건 빵'이 누군가의 '인생 빵'이 되길 바라며 더브레드블루는 오늘도 가장 맛있는 비건 빵을 만듭니다.</p>
                                    </div>
                                </a>
                            </li>
                            <li class="preview" id="life_pre">
                                <a href="">
                                    <img src="/user/images/magazine/lifestyle_main/20201208152325914.jpg" alt="">
                                    <div class="preview_info">
                                        <p class="preview_title">크리스마스에 꼭 먹어야 해요</p>
                                        <p class="preview_text">독일, 이탈리아에서는 크리스마스에 이 것들을 먹는 전통이 있대요.</p>
                                    </div>
                                </a>
                            </li>
                            <li class="preview" id="life_pre">
                                <a href="">
                                    <img src="/user/images/magazine/lifestyle_main/20201022171036997.jpg" alt="">
                                    <div class="preview_info">
                                        <p class="preview_title">라이프스타일 제목</p>
                                        <p class="preview_text">라이프스타일 한줄 설명</p>
                                    </div>
                                </a>
                            </li>
                            <li class="preview" id="life_pre">
                                <a href="">
                                    <img src="/user/images/magazine/lifestyle_main/20200908112422192.jpg" alt="">
                                    <div class="preview_info">
                                        <p class="preview_title">라이프스타일 제목</p>
                                        <p class="preview_text">라이프스타일 한줄 설명</p>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- 라이프스타일 미리보기 (3 column slide) 끝 -->

                <!-- 키친가이드 미리보기 (3 column slide) -->
                <div class="kitchenguide_preview width clearfix">
                    <p>키친가이드</p>
                    <div class="preview_controls">
                        <div class="preview_btn_prev" id="kit_pre_btn_prev"><img src="/user/images/magazine/main/btn_prev_default.png" alt=""></div>
                        <div class="preview_btn_next" id="kit_pre_btn_next"><img src="/user/images/magazine/main/btn_next_default.png" alt=""></div>
                    </div>
                    <div class="preview_wrap">
                        <ul class="preview_box" id="kit_pre_box">
                            <li class="preview" id="kit_pre">
                                <a href="">
                                    <img src="/user/images/magazine/kitchenguide_main/20200520150707413.gif" alt="">
                                    <div class="preview_info">
                                        <p class="preview_title">2분만에 수란 완성</p>
                                        <p class="preview_text">매끈하고 탐스런 수란을 만들어보세요. 휘리릭 손짓 한 번이면 충분합니다.</p>
                                    </div>
                                </a>
                            </li>
                            <li class="preview" id="kit_pre">
                                <a href="">
                                    <img src="/user/images/magazine/kitchenguide_main/20200717094852451.jpg" alt="">
                                    <div class="preview_info">
                                        <p class="preview_title">샐러드 드레싱 맛있는 공식</p>
                                        <p class="preview_text">육류, 해산물, 견과류, 과일 등 샐러드의 메인 재료별로 딱 맞는 드레싱을 제안합니다.</p>
                                    </div>
                                </a>
                            </li>
                            <li class="preview" id="kit_pre">
                                <a href="">
                                    <img src="/user/images/magazine/kitchenguide_main/20201022102815792.jpg" alt="">
                                    <div class="preview_info">
                                        <p class="preview_title">이게 다 토마토소스</p>
                                        <p class="preview_text">공통점은 토마토가 주재료란 사실 뿐! 맛도 텍스쳐도 활용법도 다 달라요</p>
                                    </div>
                                </a>
                            </li>
                            <li class="preview" id="kit_pre">
                                <a href="">
                                    <img src="/user/images/magazine/kitchenguide_main/20201204122411703.jpg" alt="">
                                    <div class="preview_info">
                                        <p class="preview_title">키친가이드 제목</p>
                                        <p class="preview_text">키친가이드 한줄 설명</p>
                                    </div>
                                </a>
                            </li>
                            <li class="preview" id="kit_pre">
                                <a href="">
                                    <img src="/user/images/magazine/kitchenguide_main/20201015145738281.jpg" alt="">
                                    <div class="preview_info">
                                        <p class="preview_title">키친가이드 제목</p>
                                        <p class="preview_text">키친가이드 한줄 설명</p>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- 키친가이드 미리보기 (3 column slide) 끝 -->

                <!-- 배너 -->
                <div class="banner02 width">
                    <img src="/user/images/magazine/main/banner_sample02.jpg" alt="" class="width">
                </div>
                <!-- 배너 끝 -->
            </section>
            <!-- magazine_content 끝 -->
        </main>
        <!-- main 끝 -->

        <!--footer thymeleaf-->
        <!--    <div th:replace="/user/fragment/footer::footer"></div>-->
        <div th:replace="/user/fragment/footer::footer"></div>

    </div>
    <!-- container 끝 -->
    <script type="text/javascript" th:src="@{/user/js/common.js}"></script>
    <script type="text/javascript" th:src="@{/user/js/magazine.js}"></script>
    <script type="text/javascript" th:src="@{/user/js/index.js}"></script>
    <script type="text/javascript" th:src="@{/user/js/index_q.js}"></script>
</body>
</html>
