<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<!-- head -->
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HelloNature-Magazine-Recipe-Content</title>
    <link rel="stylesheet" th:href="@{/user/css/reset.css}">
    <link rel="stylesheet" th:href="@{/user/css/magazine.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/user/css/layout.css}">
</head>
<!-- head 끝 -->

<body>
    <!-- container -->
    <div id="container">
            <!-- header -->
        <div th:replace="/user/fragment/header::header"></div>
            <!-- header 끝 -->

            <!-- main -->
            <main>
                <!-- magazine_content -->
                <section id="magazine_content" class="clearfix">
                    <div id="rec_title" class="mg_cont_tit width clearfix">레시피</div>

                    <!-- 레시피 소개 -->
                    <div class="rec_cont_info">
                        <table class="width">
                            <tr>
                                <td>제목</td>
                                <td>채끝스테이크솥밥</td>
                            </tr>
                            <tr>
                                <td>설명</td>
                                <td>부들한 채끝 스테이크와 고소한 마늘칩, 송송 썬 쪽파가 한 솥 든든하게 어우러져요. 한솥밥의 만찬입니다.</td>
                            </tr>
                        </table>
                    </div>
                    <!-- 레시피 소개 끝 -->

                    <!-- 레시피명 -->
                    <div class="rec_cont_title width">
                        <p>Hello Nature</p>
                        <hr class="divider02">
                        <p>채끝스테이크솥밥</p>
                    </div>
                    <!-- 레시피명 끝 -->

                    <!-- 레시피 재료 -->
                    <div class="rec_cont_ingredient width">
                        <span class="rec_cont_img"><img src="/user/images/magazine/repice_content/채끝스테이크솥밥/mainphoto.jpg" alt=""></span>
                        <span class="rec_require">
                            <table class="rec_inner_require">
                                <tr>
                                    <td>필요한 재료 <span>2인분 기준</span></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>채끝살</td>
                                    <td>300g</td>
                                </tr>
                                <tr>
                                    <td>깐마늘</td>
                                    <td>10알</td>
                                </tr>
                                <tr>
                                    <td>쪽파</td>
                                    <td>6~7뿌리</td>
                                </tr>
                                <tr>
                                    <td>간장</td>
                                    <td>2작은술</td>
                                </tr>
                                <tr>
                                    <td>미림</td>
                                    <td>1큰술</td>
                                </tr>
                                <tr>
                                    <td>생강 슬라이스</td>
                                    <td>2쪽</td>
                                </tr>
                                <tr>
                                    <td>올리브오일</td>
                                    <td>적당량</td>
                                </tr>
                            </table>
                        </span>
                    </div>
                    <!-- 레시피 재료 끝 -->

                    <!-- 레시피 시간, 난이도, 칼로리, 좋아요 -->
                    <div class="rec_cont_spec width clearfix">
                        <p class="rec_spec_item">
                            <span class="rec_spec_item_img spec_time_img"></span>
                            <span class="rec_spec_txt">10분</span>
                        </p>
                        <p class="rec_spec_item">
                            <span class="rec_spec_item_img spec_grade_img"></span>
                            <span class="rec_spec_txt">초급</span>
                        </p>
                        <p class="rec_spec_item">
                            <span class="rec_spec_item_img spec_kcal_img"></span>
                            <span class="rec_spec_txt">2260kcal</span>
                        </p>
                        <p class="rec_spec_item">
                            <span class="rec_spec_item_img spec_like_img"></span>
                            <span class="rec_cont_like_cnt">0</span>
                        </p>
                    </div>
                    <!-- 레시피 시간, 난이도, 칼로리, 좋아요 끝 -->

                    <!-- 만드는 법 (2 column slide) -->
                    <div class="recipe_cooking clearfix">
                        <p class="rec_cook_tlt">만드는 법</p>
                        <div class="rec_cook_controls width">
                            <div class="rec_cook_btn_prev"><img src="/user/images/magazine/main/btn_prev_default.png" alt=""></div>
                            <div class="rec_cook_btn_next"><img src="/user/images/magazine/main/btn_next_default.png" alt=""></div>
                        </div>
                        <div class="rec_cook_wrap">
                            <ul class="rec_cook_box">
                                <li class="rec_cook">
                                    <div class="rec_cook_step">
                                        <span>STEP</span>
                                        <span>01</span>
                                    </div>
                                    <img src="/user/images/magazine/repice_content/채끝스테이크솥밥/cook01.jpg" alt="">
                                    <div class="rec_cook_txt">쌀은 씻어서 30분 정도 불린 뒤 체에 밭쳐 물기를 뺍니다.</div>
                                </li>
                                <li class="rec_cook">
                                    <div class="rec_cook_step">
                                        <span>STEP</span>
                                        <span>02</span>
                                    </div>
                                    <img src="/user/images/magazine/repice_content/채끝스테이크솥밥/cook02.jpg" alt="">
                                    <div class="rec_cook_txt">채끝살은 올리브오일, 소금, 후추, 로즈마리로 마리네이드합니다.</div>
                                </li>
                                <li class="rec_cook">
                                    <div class="rec_cook_step">
                                        <span>STEP</span>
                                        <span>03</span>
                                    </div>
                                    <img src="/user/images/magazine/repice_content/채끝스테이크솥밥/cook03.jpg" alt="">
                                    <div class="rec_cook_txt">마늘은 얇게 편 썰어 키친타월로 물기를 제거합니다.</div>
                                </li>
                                <li class="rec_cook">
                                    <div class="rec_cook_step">
                                        <span>STEP</span>
                                        <span>04</span>
                                    </div>
                                    <img src="/user/images/magazine/repice_content/채끝스테이크솥밥/cook04.jpg" alt="">
                                    <div class="rec_cook_txt">쪽파는 송송 썹니다.</div>
                                </li>
                                <li class="rec_cook">
                                    <div class="rec_cook_step">
                                        <span>STEP</span>
                                        <span>05</span>
                                    </div>
                                    <img src="/user/images/magazine/repice_content/채끝스테이크솥밥/cook05.jpg" alt="">
                                    <div class="rec_cook_txt">달군 팬에 올리브오일을 두르고 마리네이드한 채끝살을 올려 앞뒤로 노릇하게 구운 뒤 1cm 두께로 썹니다.</div>
                                </li>
                                <li class="rec_cook">
                                    <div class="rec_cook_step">
                                        <span>STEP</span>
                                        <span>06</span>
                                    </div>
                                    <img src="/user/images/magazine/repice_content/채끝스테이크솥밥/cook06.jpg" alt="">
                                    <div class="rec_cook_txt">달군 솥에 버터와 다진 마늘을 넣고 마늘이 노릇해질 때까지 볶은 뒤 불린 쌀을 넣고 볶아줍니다. 생강 슬라이스, 간장, 미림, 다시마 우린 물을 넣습니다.</div>
                                </li>
                                <li class="rec_cook">
                                    <div class="rec_cook_step">
                                        <span>STEP</span>
                                        <span>07</span>
                                    </div>
                                    <img src="/user/images/magazine/repice_content/채끝스테이크솥밥/cook07.jpg" alt="">
                                    <div class="rec_cook_txt">뚜껑을 덮고 센불에서 가열해 끓어오르면 약불로 줄여 10분간 더 가열합니다. 채끝 스테이크를 가지런히 얹고 불을 끄고 뜸을 들입니다. 그리고 마늘칩과 쪽파를 올려 냅니다.</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- 만드는 법 (2 column slide) 끝 -->

                    <!-- 재료담기 (4 column slide) -->
                    <div class="recipe_product width clearfix">
                        <p>재료담기</p>
                        <div class="rec_prod_controls">
                            <div class="rec_prod_btn_prev"><img src="/user/images/magazine/main/btn_prev_default.png" alt=""></div>
                            <div class="rec_prod_btn_next"><img src="/user/images/magazine/main/btn_next_default.png" alt=""></div>
                        </div>
                        <div class="rec_prod_wrap">
                            <ul class="rec_prod_box">
                                <li class="rec_prod">
                                    <div class="rec_prod_ico">
                                        <span class="rec_prod_best">Best</span>
                                    </div>
                                    <!-- item -->
                                    <div class="rec_prod_item">
                                        <div class="rec_prod_img">
                                            <a href="/product">
                                                <img src="/user/images/magazine/repice_content/채끝스테이크솥밥/재료01.jpg" alt="">
                                            </a>
                                        </div>
                                        <!-- item_info -->
                                        <div class="rec_prod_info">
                                            <div class="rec_prod_title">
                                                <a href="/product">
                                                    <span class="rec_prod_brand">[브랜드명]</span>
                                                    <span class="rec_prod_name">친환경 깐마늘 120g</span>
                                                </a>
                                            </div>
                                            <div class="rec_prod_basket">
                                                <p class="cont_item_price"><span class="price_comma">3200</span>원<span class="cont_item_sale"><span class="price_comma">5000</span>원</span></p>
                                                <p class="rec_prod_cart"><button><img src="/user/images/magazine/main/price_cart.png" alt=""></button></p>
                                            </div>
                                        </div>
                                        <!-- # item_info -->
                                    </div>
                                    <!-- # item -->
                                </li>
                                <li class="rec_prod">
                                    <div class="rec_prod_ico">
                                        <span class="rec_prod_best">Best</span>
                                        <span class="rec_item_dc">10%</span>
                                    </div>
                                    <!-- item -->
                                    <div class="rec_prod_item">
                                        <div class="rec_prod_img">
                                            <a href="/product">
                                                <img src="/user/images/magazine/repice_content/채끝스테이크솥밥/재료02.png" alt="">
                                            </a>
                                        </div>
                                        <!-- item_info -->
                                        <div class="rec_prod_info">
                                            <div class="rec_prod_title">
                                                <a href="/product">
                                                    <span class="rec_prod_brand">[신영]</span>
                                                    <span class="rec_prod_name">로즈마리 홀 20g</span>
                                                </a>
                                            </div>
                                            <div class="rec_prod_basket">
                                                <p class="cont_item_price"><span class="price_comma">3200</span>원<span class="cont_item_sale"><span class="price_comma">5000</span>원</span></p>
                                                <p class="rec_prod_cart"><button><img src="/user/images/magazine/main/price_cart.png" alt=""></button></p>
                                            </div>
                                        </div>
                                        <!-- # item_info -->
                                    </div>
                                    <!-- # item -->
                                </li>
                                <li class="rec_prod">
                                    <div class="rec_prod_ico">
                                        <span class="rec_prod_best">Best</span>
                                    </div>
                                    <!-- item -->
                                    <div class="rec_prod_item">
                                        <div class="rec_prod_img">
                                            <a href="/product">
                                                <img src="/user/images/magazine/repice_content/채끝스테이크솥밥/재료03.png" alt="">
                                            </a>
                                        </div>
                                        <!-- item_info -->
                                        <div class="rec_prod_info">
                                            <div class="rec_prod_title">
                                                <a href="/product">
                                                    <span class="rec_prod_brand">[브랜드명]</span>
                                                    <span class="rec_prod_name">유기농 밀키퀸 10kg</span>
                                                </a>
                                            </div>
                                            <div class="rec_prod_basket">
                                                <p class="cont_item_price"><span class="price_comma">3200</span>원<span class="cont_item_sale"><span class="price_comma">5000</span>원</span></p>
                                                <p class="rec_prod_cart"><button><img src="/user/images/magazine/main/price_cart.png" alt=""></button></p>
                                            </div>
                                        </div>
                                        <!-- # item_info -->
                                    </div>
                                    <!-- # item -->
                                </li>
                                <li class="rec_prod">
                                    <div class="rec_prod_ico">
                                        <span class="rec_prod_best">Best</span>
                                    </div>
                                    <!-- item -->
                                    <div class="rec_prod_item">
                                        <div class="rec_prod_img">
                                            <a href="">
                                                <img src="/user/images/magazine/repice_content/채끝스테이크솥밥/재료04.jpg" alt="">
                                            </a>
                                        </div>
                                        <!-- item_info -->
                                        <div class="rec_prod_info">
                                            <div class="rec_prod_title">
                                                <a href="">
                                                    <span class="rec_prod_brand">[본엔브래드]</span>
                                                    <span class="rec_prod_name">1++등급 한우 채끝 200g</span>
                                                </a>
                                            </div>
                                            <div class="rec_prod_basket">
                                                <p class="cont_item_price"><span class="price_comma">3200</span>원<span class="cont_item_sale"><span class="price_comma">5000</span>원</span></p>
                                                <p class="rec_prod_cart"><button><img src="/user/images/magazine/main/price_cart.png" alt=""></button></p>
                                            </div>
                                        </div>
                                        <!-- # item_info -->
                                    </div>
                                    <!-- # item -->
                                </li>
                                <li class="rec_prod">
                                    <div class="rec_prod_ico">
                                        <span class="rec_prod_best">Best</span>
                                    </div>
                                    <!-- item -->
                                    <div class="rec_prod_item">
                                        <div class="rec_prod_img">
                                            <a href="">
                                                <img src="/user/images/magazine/repice_content/채끝스테이크솥밥/재료05.jpg" alt="">
                                            </a>
                                        </div>
                                        <!-- item_info -->
                                        <div class="rec_prod_info">
                                            <div class="rec_prod_title">
                                                <a href="">
                                                    <span class="rec_prod_brand">[브랜드명]</span>
                                                    <span class="rec_prod_name">국내산 생강 100g</span>
                                                </a>
                                            </div>
                                            <div class="rec_prod_basket">
                                                <p class="cont_item_price"><span class="price_comma">3200</span>원<span class="cont_item_sale"><span class="price_comma">5000</span>원</span></p>
                                                <p class="rec_prod_cart"><button><img src="/user/images/magazine/main/price_cart.png" alt=""></button></p>
                                            </div>
                                        </div>
                                        <!-- # item_info -->
                                    </div>
                                    <!-- # item -->
                                </li>
                                <li class="rec_prod">
                                    <div class="rec_prod_ico">
                                        <span class="rec_prod_best">Best</span>
                                    </div>
                                    <!-- item -->
                                    <div class="rec_prod_item">
                                        <div class="rec_prod_img">
                                            <a href="">
                                                <img src="/user/images/magazine/repice_content/채끝스테이크솥밥/재료06.jpg" alt="">
                                            </a>
                                        </div>
                                        <!-- item_info -->
                                        <div class="rec_prod_info">
                                            <div class="rec_prod_title">
                                                <a href="">
                                                    <span class="rec_prod_brand">[브랜드명]</span>
                                                    <span class="rec_prod_name">재료명</span>
                                                </a>
                                            </div>
                                            <div class="rec_prod_basket">
                                                <p class="cont_item_price"><span class="price_comma">3200</span>원<span class="cont_item_sale"><span class="price_comma">5000</span>원</span></p>
                                                <p class="rec_prod_cart"><button><img src="/user/images/magazine/main/price_cart.png" alt=""></button></p>
                                            </div>
                                        </div>
                                        <!-- # item_info -->
                                    </div>
                                    <!-- # item -->
                                </li>
                                <li class="rec_prod">
                                    <div class="rec_prod_ico">
                                        <span class="rec_prod_best">Best</span>
                                    </div>
                                    <!-- item -->
                                    <div class="rec_prod_item">
                                        <div class="rec_prod_img">
                                            <a href="">
                                                <img src="/user/images/magazine/repice_content/채끝스테이크솥밥/재료07.jpg" alt="">
                                            </a>
                                        </div>
                                        <!-- item_info -->
                                        <div class="rec_prod_info">
                                            <div class="rec_prod_title">
                                                <a href="">
                                                    <span class="rec_prod_brand">[브랜드명]</span>
                                                    <span class="rec_prod_name">재료명</span>
                                                </a>
                                            </div>
                                            <div class="rec_prod_basket">
                                                <p class="cont_item_price"><span class="price_comma">3200</span>원<span class="cont_item_sale"><span class="price_comma">5000</span>원</span></p>
                                                <p class="rec_prod_cart"><button><img src="/user/images/magazine/main/price_cart.png" alt=""></button></p>
                                            </div>
                                        </div>
                                        <!-- # item_info -->
                                    </div>
                                    <!-- # item -->
                                </li>
                                <li class="rec_prod">
                                    <div class="rec_prod_ico">
                                        <span class="rec_prod_best">Best</span>
                                    </div>
                                    <!-- item -->
                                    <div class="rec_prod_item">
                                        <div class="rec_prod_img">
                                            <a href="">
                                                <img src="/user/images/magazine/repice_content/채끝스테이크솥밥/재료08.png" alt="">
                                            </a>
                                        </div>
                                        <!-- item_info -->
                                        <div class="rec_prod_info">
                                            <div class="rec_prod_title">
                                                <a href="">
                                                    <span class="rec_prod_brand">[브랜드명]</span>
                                                    <span class="rec_prod_name">재료명</span>
                                                </a>
                                            </div>
                                            <div class="rec_prod_basket">
                                                <p class="cont_item_price"><span class="price_comma">3200</span>원<span class="cont_item_sale"><span class="price_comma">5000</span>원</span></p>
                                                <p class="rec_prod_cart"><button><img src="/user/images/magazine/main/price_cart.png" alt=""></button></p>
                                            </div>
                                        </div>
                                        <!-- # item_info -->
                                    </div>
                                    <!-- # item -->
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- 재료담기 (4 column slide) 끝 -->

                    <hr class="divider01">

                    <!-- 관련상품 (4 column slide) -->
                    <div class="recipe_item width clearfix">
                        <p>관련상품</p>
                        <div class="rec_item_controls">
                            <div class="rec_item_btn_prev"><img src="/user/images/magazine/main/btn_prev_default.png" alt=""></div>
                            <div class="rec_item_btn_next"><img src="/user/images/magazine/main/btn_next_default.png" alt=""></div>
                        </div>
                        <div class="rec_item_wrap">
                            <ul class="rec_item_box">
                                <li class="rec_item">
                                    <div class="rec_item_ico">
                                        <span class="rec_item_dc">10%</span>
                                    </div>
                                    <!-- item -->
                                    <div class="rec_item_item">
                                        <div class="rec_item_img">
                                            <a href="">
                                                <img src="/user/images/magazine/repice_content/채끝스테이크솥밥/관련상품04.png" alt="">
                                            </a>
                                        </div>
                                        <!-- item_info -->
                                        <div class="rec_item_info">
                                            <div class="rec_item_title">
                                                <a href="">
                                                    <span class="rec_item_brand">[허챠밍X마이셰프]</span>
                                                    <span class="rec_item_name">매콤 로제 스테이크 1-2인분 540g</span>
                                                </a>
                                            </div>
                                            <div class="rec_item_basket">
                                                <p class="cont_item_price"><span class="price_comma">3200</span>원<span class="cont_item_sale"><span class="price_comma">5000</span>원</span></p>
                                                <p class="rec_item_cart"><button><img src="/user/images/magazine/main/price_cart.png" alt=""></button></p>
                                            </div>
                                        </div>
                                        <!-- # item_info -->
                                    </div>
                                    <!-- # item -->
                                </li>
                                <li class="rec_item">
                                    <div class="rec_item_ico">
                                        <span class="rec_item_dc">20%</span>
                                    </div>
                                    <!-- item -->
                                    <div class="rec_item_item">
                                        <div class="rec_item_img">
                                            <a href="">
                                                <img src="/user/images/magazine/repice_content/채끝스테이크솥밥/관련상품03.png" alt="">
                                            </a>
                                        </div>
                                        <!-- item_info -->
                                        <div class="rec_item_info">
                                            <div class="rec_item_title">
                                                <a href="">
                                                    <span class="rec_item_brand">[호시노소라]</span>
                                                    <span class="rec_item_name">와규&우엉 솥밥 (밀키트/2인분) 800g</span>
                                                </a>
                                            </div>
                                            <div class="rec_item_basket">
                                                <p class="cont_item_price"><span class="price_comma">3200</span>원<span class="cont_item_sale"><span class="price_comma">5000</span>원</span></p>
                                                <p class="rec_item_cart"><button><img src="/user/images/magazine/main/price_cart.png" alt=""></button></p>
                                            </div>
                                        </div>
                                        <!-- # item_info -->
                                    </div>
                                    <!-- # item -->
                                </li>
                                <li class="rec_item">
                                    <div class="rec_item_ico">
                                        <span class="rec_item_dc">20%</span>
                                    </div>
                                    <!-- item -->
                                    <div class="rec_item_item">
                                        <div class="rec_item_img">
                                            <a href="">
                                                <img src="/user/images/magazine/repice_content/채끝스테이크솥밥/관련상품02.png" alt="">
                                            </a>
                                        </div>
                                        <!-- item_info -->
                                        <div class="rec_item_info">
                                            <div class="rec_item_title">
                                                <a href="">
                                                    <span class="rec_item_brand">[호시노소라]</span>
                                                    <span class="rec_item_name">장어&초당옥수수 솥밥(밀키트/2인분) 700g</span>
                                                </a>
                                            </div>
                                            <div class="rec_item_basket">
                                                <p class="cont_item_price"><span class="price_comma">3200</span>원<span class="cont_item_sale"><span class="price_comma">5000</span>원</span></p>
                                                <p class="rec_item_cart"><button><img src="/user/images/magazine/main/price_cart.png" alt=""></button></p>
                                            </div>
                                        </div>
                                        <!-- # item_info -->
                                    </div>
                                    <!-- # item -->
                                </li>
                                <li class="rec_item">
                                    <div class="rec_item_ico">
                                        <span class="rec_item_dc">20%</span>
                                    </div>
                                    <!-- item -->
                                    <div class="rec_item_item">
                                        <div class="rec_item_img">
                                            <a href="">
                                                <img src="/user/images/magazine/repice_content/채끝스테이크솥밥/관련상품01.png" alt="">
                                            </a>
                                        </div>
                                        <!-- item_info -->
                                        <div class="rec_item_info">
                                            <div class="rec_item_title">
                                                <a href="">
                                                    <span class="rec_item_brand">[호시노소라]</span>
                                                    <span class="rec_item_name">전복&전복내장 솥밥(밀키트/2인분) 800g</span>
                                                </a>
                                            </div>
                                            <div class="rec_item_basket">
                                                <p class="cont_item_price"><span class="price_comma">3200</span>원<span class="cont_item_sale"><span class="price_comma">5000</span>원</span></p>
                                                <p class="rec_item_cart"><button><img src="/user/images/magazine/main/price_cart.png" alt=""></button></p>
                                            </div>
                                        </div>
                                        <!-- # item_info -->
                                    </div>
                                    <!-- # item -->
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- 관련상품 (4 column slide) 끝 -->

                    <hr class="divider01">

                    <!-- 비슷한 레시피 (3 column slide) -->
                    <div class="recipe_another width clearfix">
                        <p>비슷한 레시피</p>
                        <div class="rec_ano_controls">
                            <div class="rec_ano_btn_prev"><img src="/user/images/magazine/main/btn_prev_default.png" alt=""></div>
                            <div class="rec_ano_btn_next"><img src="/user/images/magazine/main/btn_next_default.png" alt=""></div>
                        </div>
                        <div class="rec_ano_wrap">
                            <ul class="rec_ano_box">
                                <li class="rec_ano">
                                    <a href="/magazine/recipe_content">
                                        <img src="/user/images/magazine/repice_content/채끝스테이크솥밥/비슷한레시피01.jpg" alt="">
                                        <div class="rec_ano_info">
                                            <p class="rec_ano_title">감자옥수수솥밥</p>
                                            <p class="rec_ano_spec">
                                                <span class="rec_ano_grade">초급</span>
                                                <span class="rec_ano_time">50분</span>
                                            </p>
                                        </div>
                                    </a>
                                </li>
                                <li class="rec_ano">
                                    <a href="/magazine/recipe_content">
                                        <img src="/user/images/magazine/repice_content/채끝스테이크솥밥/비슷한레시피02.jpg" alt="">
                                        <div class="rec_ano_info">
                                            <p class="rec_ano_title">모둠해산물솥밥</p>
                                            <p class="rec_ano_spec">
                                                <span class="rec_ano_grade">중급</span>
                                                <span class="rec_ano_time">50분</span>
                                            </p>
                                        </div>
                                    </a>
                                </li>
                                <li class="rec_ano">
                                    <a href="/magazine/recipe_content">
                                        <img src="/user/images/magazine/repice_content/채끝스테이크솥밥/비슷한레시피01.jpg" alt="">
                                        <div class="rec_ano_info">
                                            <p class="rec_ano_title">감자옥수수솥밥</p>
                                            <p class="rec_ano_spec">
                                                <span class="rec_ano_grade">초급</span>
                                                <span class="rec_ano_time">50분</span>
                                            </p>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- 비슷한 레시피 (3 column slide) 끝 -->

                    <!-- 목록버튼 -->
                    <div class="board_page_btn width">
                        <input type="button" value="목록" id="backBtn">
                    </div>
                    <!-- 목록버튼 끝 -->

                </section>
                <!-- magazine_content 끝 -->
            </main>
            <!-- main 끝 -->


        <!--footer thymeleaf-->
        <!--    <div th:replace="/user/fragment/footer::footer"></div>-->
        <div th:replace="/user/fragment/footer::footer"></div>


        </div>
    <!-- container 끝 -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script type="text/javascript" th:src="@{/user/js/common.js}"></script>
    <script type="text/javascript" th:src="@{/user/js/recipe.js}"></script>
    <script type="text/javascript" th:src="@{/user/js/index.js}"></script>
    <script type="text/javascript" th:src="@{/user/js/index_q.js}"></script>
</body>
</html>