<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/admin/css/style2.css">
    <script src="/admin/js/checkbox.js"></script>
    <title>매거진 관리 | 매거진 목록</title>
    <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous">
    </script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<script>
    $(function () {
        axios.get("/api/magazine/list", {}).then(function (response) {
            let tb = $('<tbody>');
            console.log(response.data.data[1].idx)

            for (let i in response.data.data) {
                let $id = response.data.data[i].idx;
                let $title = response.data.data[i].title;
                let $showFlag = response.data.data[i].showFlag;
                let j = parseInt(i) + 1
                let k = parseInt(i)
                console.log($title)

                let row = $('<tr>').append(
                    '<td><input type="checkbox" id="ML_check_' + k + '"name="magazine" onclick="ML_checkSelectAll()" value="' + $id + '"><label for="ML_check_' + k + '"></label></td>' +
                    '<td>' + j + '</td>' +
                    '<td>' + $title + '</td>' +
                    '<td class="showFlag"><input type="hidden" value=' + $showFlag + '>' + $showFlag + '</td></tr>'
                )
                tb.append(row);
            }
            tb.append('</tbody>');
            $('.thead').after(tb);
            let showFlag = document.querySelectorAll(".showFlag");
            for (let i =0; showFlag.length; i++){
                if(showFlag[i].innerText==1){
                    showFlag[i].innerText="전시중"
                }else{
                    showFlag[i].innerText="전시종료"
                }
            }
        }).catch(function (err) {
            console.log(err)
        })
    })

    $(function (){
        $("#delbtn").click(function(){
            let id = [];
            ($("input:checkbox[name='magazine']:checked").each(function (e) {
                id.push($(this).val())
            }));
            console.log(id)

            axios.delete("/api/magazine/deleteList" + id, {
            }).then(function () {
                alert("매거진 삭제 성공")
            })
        }).catch(function (err) {
            console.log(err)
        })
    })

    function sendit(){
        $('.list_table > tbody').remove()
        let cateIdx = $("#Mz_cate").val();
        let title = $("#text").val();
        let dateStart = $("#date_start").val();
        let dateEnd = $("#date_end").val();

        console.log(cateIdx)
        console.log(title)
        console.log(dateStart)
        console.log(dateEnd)

        axios.get("/api/magazine/list?cateIdx="+cateIdx+"&title="+title+"&dateStart="+dateStart+"&dateEnd="+dateEnd, {
        }).then(function (response){
            let tb = $('<tbody>');
            for(let i in response.data.data) {
                let $id = response.data.data[i].idx;
                let $title = response.data.data[i].title;
                let $showFlag = response.data.data[i].showFlag;
                let j = parseInt(i) +1
                let k = parseInt(i)
                console.log($title)

                let row = $('<tr>').append(
                    '<td><input type="checkbox" id="ML_check_'+ k +'"name="magazine" onclick="ML_checkSelectAll()" value="' + $id + '"><label for="ML_check_'+k+'"></label></td>' +
                    '<td>' + j + '</td>' +
                    '<td>' + $title + '</td>' +
                    '<td class="showFlag"><input type="hidden" value=' + $showFlag + '>' + $showFlag + '</td></tr>'
                )
                tb.append(row);
            }
            tb.append('</tbody>');
            $('.thead').after(tb);
            alert("검색 완료")
            let showFlag = document.querySelectorAll(".showFlag");
            for (let i =0; showFlag.length; i++){
                if(showFlag[i].innerText==1){
                    showFlag[i].innerText="전시중"
                }else{
                    showFlag[i].innerText="전시종료"
                }
            }
        }).catch(function(err){
            console.log(err)
        })
    }
</script>
<body>
    <!--content_title 시작-->
    <div class="content_title"><p>매거진 관리 <span>매거진 목록</span></p></div>
    <!--content_title 끝-->
    <!--MList 시작-->
    <div class="MList">
        <!--ML_c1 시작-->
        <div class="ML_c1">
            <!--form 시작-->
            <form name="magazine_search" onsubmit="return sendit()">
                <p id="ML_c1_title" class="product_title"><label>매거진 조회</label></p>
                <!--table 시작-->
                <table>
                    <tr>
                        <th width="100">분류</th>
                        <td>
                            <select style="height: 38px; width: 150px; margin-right: 10px;" id="Mz_cate">
                                <option>카테고리</option    >
                                <option value="1">탐험노트</option>
                                <option value="2">라이프스타일</option>
                                <option value="3">키친가이드</option>
                                <option value="0">레시피</option>
                            </select>
                            <input type="text" name="text" placeholder="매거진명 입력" id="text">
                        </td>
                    </tr>
                    <tr>
                        <th>등록기간</th>
                        <td>
                            <input type="date" name="date" id="date_start"> - <input type="date" name="date" id="date_end">
                        </td>
                    </tr>
                </table>
                <!--table 끝-->
                <div class="bottom_btn">
                    <span><input type="reset" name="reset" value="초기화"></span>
                    <span><input type="submit" name="submit" value="검색"></span>
                </div>
            </form>
            <!--form 끝-->
        </div>
        <!--ML_c1 끝-->
        <!--ML_c2 시작-->
        <div class="ML_c2">
            <!--ML_c2_title 시작-->
            <div id="ML_c2_title" class="green_title">
                <p>매거진 목록 <span>(<span>현재 등록 : 2개</span>)</span></p>
            </div>
            <!--ML_c2_title 끝-->
            <!--form 시작-->
            <form name="magazine_list">
                <span>
                    <input type="button" name="button" value="선택삭제" id="delbtn">
                </span>
                <span>
                    <select class="list_select" id="MZ_display">
                        <option value="TRUE">전시중</option>
                        <option value="FALSE">전시종료</option>
                    </select>
                    <input type="button" value="적용" id="displaybtn">
                </span>
                <!--table 시작-->
                <table width="100%" class="list_table">
                    <thead class="thead">
                    <tr>
                        <th width="5%"><input type="checkbox" value="cou_list" id="ML_check" name="selectall" onclick="ML_selectAll(this)"><label for="ML_check"></label></th>
                        <th width="15%">번호</th>
                        <th width="45%">이벤트명</th>
                        <th width="20%">전시상태</th>
                    </tr>
                    </thead>
                </table>
                <!--table 끝-->
                <!-- pageBox 시작-->
                <div class="pageBox">
                    <ul>
                        <li id="Maxprev"><a href="#"><<</a></li>
                        <li><a href="#"><</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">></a></li>
                        <li id="Maxnext"><a href="#">>></a></li>
                    </ul>
                </div>
                <!-- pageBox 끝-->
            </form>
            <!--form 끝-->
        </div>
        <!--ML_c2 끝-->
    </div>
    <!--MList 끝-->
</body>
</html>