<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>헬로네이처 추천 관리 | 기획전/이벤트</title>
    <link rel="stylesheet" href="/admin/css/style2.css">
    <script type="text/javascript" src="/admin/ckeditor/ckeditor.js"></script>
</head>
<script>
    function sendit(){
    const typeFlag = $("#typeFlag").val();
    const dateStart = $("#dateStart").val();
    const dateEnd = $("#dateEnd").val();
    const img = $("#img").val();
    const title = $("#title").val();
    const content = $("#content").val();

    axios.post('/api/event/create',{
        headers: {'Content-type': 'application/json'},
        data: {
        typeFlag: typeFlag,
        dateStart: dateStart,
        dateEnd: dateEnd,
        img: img,
        title: title,
        content: content
    }
    }).then(
        alert('저장되었습니다')
        )
    }
</script>
<body>
    <!--content_title 시작-->
    <div class="content_title">
        <p>헬로네이처 추천 관리<span>기획전/이벤트</span></p>
    </div>
    <!--content_title 끝-->
    <!--content_title_click 시작-->
    <div class="content_title_click">
        <a onclick="EL_location_1()">기획전/이벤트 목록</a>
        <a onclick="EL_location_2()" id="EL_click_2">기획전/이벤트 등록</a>
    </div>
    <!--content_title_click 끝-->
    <!--Ecreate 시작-->
    <div class="Ecreate">
        <!--EC_c1 시작-->
        <div class="EC_c1">
            <!--form 시작-->
            <form name="create_event">
                <p id="EC_c1_title" class="product_title"><label>기획전/이벤트 등록</label></p>
                <table class="EC_table">
                    <tr>
                        <th>분류</th>
                        <td>
                            <select>
                                <option value="기획전">기획전</option>
                                <option value="이벤트">이벤트</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>기간설정</th>
                        <td>
                            <span><input type="radio" name="date" value="기간설정" checked style="width: 14px; height: 14px;"> 기간설정</span>
                            <span><input type="radio" name="date" value="설정안함" style="width: 14px; height: 14px;"> 설정안함</span>
                        </td>
                    </tr>
                    <tr>
                        <th>진행기간</th>
                        <td><input type="date" name="date"> - <input type="date" name="date"></td>
                    </tr>
                    <tr>
                        <th>이미지</th>
                        <td><input type="file" name="file"></td>
                    </tr>
                    <tr>
                        <th>이벤트명</th>
                        <td><input type="text" name="text" placeholder="100자 내외로 입력하세요" maxlength="100"></td>
                    </tr>
                    <tr>
                        <th>설명</th>
                        <td><input type="text" name="text" placeholder="100자 내외로 입력하세요" maxlength="100"></td>
                    </tr>
                </table>
                <div class="EC_editlist">
                    <p>상세설명</p>
                    <div class='RC_c3_htmllist'>
                        <div class='create_html'><span>HTML</span></div>
                        <textarea class='textarea' name='textarea'></textarea>
                    </div>
                    <script type="text/javascript">
                        CKEDITOR.replace('textarea'
                            , {height: 300
                            });
                    </script>
                    <div class='EC_prodlist'>
                        <div class='create_prod'><span>상품</span></div>
                        <div class='EC_prodTitle'><p>상품 목록</p></div>
                        <div class='EC_proBox'><p>비어있음<p></div>
                    <div class='EC_addTitle'>
                        <p>상품추가<span> + 원하는 상품을 추가해주세요</span></p>
                    </div>
                    <div class='EC_addlist'>
                        <table border="1px" class='EC_scbox'>
                            <tr height="70">
                                <th width="150">상품분류</th>
                                <td>
                                    <select onchange="categoryChange(this)">
                                        <option value="대분류">대분류</option>
                                        <option value="과일">과일</option>
                                        <option value="채소">채소</option>
                                        <option value="쌀·잡곡·견과">쌀·잡곡·견과</option>
                                        <option value="정육·계란">정육·계란 </option>
                                        <option value="수산·건어물">수산·건어물</option>
                                        <option value="국·반찬·요리">국·반찬·요리</option>
                                        <option value="간편식·샐러드">간편식·샐러드</option>
                                        <option value="양념·오일·면">양념·오일·면</option>
                                        <option value="베이커리·유제품">베이커리·유제품</option>
                                        <option value="커피·음료·간식">커피·음료·간식</option>
                                        <option value="생활·선물세트">생활·선물세트</option>
                                    </select>
                                    <select id="PL_sel">
                                        <option value="중분류">중분류</option>
                                    </select>
                                    <script>
                                        function categoryChange(e) {
                                            var PL_sel_1 = ["시즌한정과일", "국산과일", "수입과일", "간편과일", "냉동·건과일"];
                                            var PL_sel_2 = ["필수채소", "반찬채소", "뿌리채소", "쌈·샐러드", "간편채소", "버섯류"];
                                            var PL_sel_3 = ["쌀", "잡곡", "견과"];
                                            var PL_sel_4 = ["소고기", "돼지고기", "닭·오리고기", "양고기", "계란류", "양념육·가공육", "햄·소시지·베이컨", "본앤브래드"];
                                            var PL_sel_5 = ["시즌한정수산·회", "생선류", "오징어·낙지·문어", "새우·게·랍스터", "전복·조개류", "김·미역·해조류", "멸치·건어물", "간편수산물"];
                                            var PL_sel_6 = ["반찬", "국·찌개·탕", "김치·장아찌·젓갈", "두부·어묵·냉장식품", "만두·튀김·냉동식품"];
                                            var PL_sel_7 = ["밀키트", "샐러드·도시락", "밥·면·즉석식품", "떡볶이·핫도그·냉동간식", "떡", "시리얼·바·선식", "죽·수프·퓨레"];
                                            var PL_sel_8 = ["소스·드레싱·육수", "장·식초·액젓", "소금·향신료·설탕·꿀", "오잉·참기름·식용유", "파스타·면", "밀가루·가루·믹스", "통조림·병조림"];
                                            var PL_sel_9 = ["식빵·빵류", "케이크·파이·디저트류", "치즈·버터·잼", "우유·두유·요거트"];
                                            var PL_sel_10 = ["커피", "차", "주스", "음료·즙", "생수·탄산수", "아이스크림", "과자류", "캔디·젤리·초콜릿"];
                                            var PL_sel_11 = ["주방용품", "생활·위생용품", "가전제품", "건강식품", "선물세트"];
                                            var target = document.getElementById("PL_sel");

                                            if(e.value == "과일") var d = PL_sel_1;
                                            else if(e.value == "채소") var d = PL_sel_2;
                                            else if(e.value == "쌀·잡곡·견과") var d = PL_sel_3;
                                            else if(e.value == "정육·계란") var d = PL_sel_4;
                                            else if(e.value == "수산·건어물") var d = PL_sel_5;
                                            else if(e.value == "국·반찬·요리") var d = PL_sel_6;
                                            else if(e.value == "간편식·샐러드") var d = PL_sel_7;
                                            else if(e.value == "양념·오일·면") var d = PL_sel_8;
                                            else if(e.value == "베이커리·유제품") var d = PL_sel_9;
                                            else if(e.value == "커피·음료·간식") var d = PL_sel_10;
                                            else if(e.value == "생활·선물세트") var d = PL_sel_11;
                                            target.options.length = 0;

                                            for (x in d) {
                                                var opt = document.createElement("option");
                                                opt.value = d[x];
                                                opt.innerHTML = d[x];
                                                target.appendChild(opt);
                                            }
                                        }
                                    </script>
                                </td>
                            </tr>
                            <tr height="70">
                                <th>판매상태</th>
                                <td>
                                    <input type="checkbox" name="d_status2" value="all" id="EC_check_1"><label for="EC_check_1">전체</label>
                                    <label><input type="checkbox" name="d_status2" value="ing" id="EC_check_2"><label for="EC_check_2">정상판매</label>
                                    <label><input type="checkbox" name="d_status2" value="stop" id="EC_check_3"><label for="EC_check_3">판매중지</label>
                                    <label><input type="checkbox" name="d_status2" value="sold" id="EC_check_4"><label for="EC_check_4">품절</label>
                                </td>
                            </tr>
                            <tr height="70">
                                <th>정렬</th>
                                <td>
                                    <input type="checkbox" id="EC_check_5"><label for="EC_check_5">최근등록순</label>
                                    <input type="checkbox" id="EC_check_6"><label for="EC_check_6">등록오랜순</label>
                                    <input type="checkbox" id="EC_check_7"><label for="EC_check_7">높은가격순</label>
                                    <input type="checkbox" id="EC_check_8"><label for="EC_check_8">낮은가격순</label>
                                </td>
                            </tr>
                            <tr height="70">
                                <th>상품명</th>
                                <td>
                                    <input type="text" placeholder="상품명을 입력해주세요" id="EC_scName">
                                    <input type="submit" value="검색" id="EC_scbtn">
                                </td>
                            </tr>
                        </table>
                        <div class="bottom_btn" id="EC_btnBox">
                            <span><input type="button" name="button" value="추가"></span>
                        </div>
                        <table width="100%" style="text-align: center;" class="EC_p_list">
                            <tr>
                                <th width="7%" height="40px"><input type="checkbox" value="cou_list" id="EC_check_9"><label for="EC_check_9"></th>
                                <th width="40%">상품 이미지</th>
                                <th width="28%">상품명</th>
                                <th width="25%">카테고리</th>
                            </tr>
                            <tr>
                                <td height="80px"><input type="checkbox" value="cou_list" id="EC_check_10"><label for="EC_check_10"></td>
                                <td><img src="">예시</td>
                                <td>예시</td>
                                <td>예시</td>
                            </tr>
                        </table>
                        <div class="pageBox" id="EC_c2_pageBox">
                            <ul>
                                <li id="Maxprev"><a href="#"><<</a></li>
                                <li><a href="#"><</a></li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">></a></li>
                                <li id="Maxnext"><a href="#">>></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--EC_c1_btnBox 시작-->
                <div id="EC_c1_btnBox" class="bottom_btn">
                    <span><input type="button" name="초기화" value="초기화"></span>
                    <span><input type="button" name="등록" value="등록"></span>
                </div>
                <!--EC_c1_btnBox 끝-->
            </form>
            <!--form 끝-->
        </div>
        <!--EC_c1 끝-->
    </div>
    <!--Ecreate 끝-->
</body>
</html>