<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>고객센터 | 공지사항 관리</title>
    <link rel="stylesheet" href="/admin/css/style2.css">
    <script src="/admin/js/checkbox.js"></script>
</head>
<script>
    $(function (){
        //전체보여주기
        //api/notice/list1
        axios.get('/api/notice/list',{
        }).then(function (response){
            console.log(response.data.data)
            for(let i in response.data.data){
                let $id =response.data.data[i].idx;
                let $title=response.data.data[i].title;
                let $type= response.data.data[i].type;
                let $content=response.data.data[i].content;
                let $regdate=response.data.data[i].regdate;
                let k = parseInt(i)+1

                let row = $('<tr>').append(
                    '<td class="tbody"><input type="checkbox" class="NoticeCheck" name="notice" onclick="No_checkSelectAll()" id="No_check"'+i+' value=' +
                    $id+'><label for="No_check"'+i+'></td>' +
                    '<td>' + k + '</a></td>' +
                    '<td><a href="/api/notice/edit/ '+ $id +'">' + $title + '</td>' +
                    '<td>' + $content + '</td>' +
                    '<td class="type">' + $type + '</td>' +
                    '<td>' + $regdate + '</td></tr>'
                )
                $('.thead').after(row);
            }
            let typeFlg = document.querySelectorAll(".type");
            for (let i =0; typeFlg.length; i++){
                if(typeFlg[i].innerText==1){
                    typeFlg[i].innerText="일반"
                }else if(typeFlg[i].innerText==2){
                    typeFlg[i].innerText="이벤트"
                }else if(typeFlg[i].innerText==3){
                    typeFlg[i].innerText="배송지연"
                }
                else if(typeFlg[i].innerText==4){
                    typeFlg[i].innerText="상품"
                }
            }
        }).catch(function (err){
            console.log(err)
        })
    });

    //http://127.0.0.1:9999/api/notice/list?type=?&text=?&dateStart=?&dateEnd=? // 검색
    $(function () {
        let now = new Date();
        let now_result = now.toISOString().substring(0,10);

        //일주일, 일개월, 삼개월버튼
        document.getElementById("weekbtn").addEventListener("click", function (){
            let week = new Date();
            week.setDate(week.getDate()- 7);
            var week_result = week.toISOString().substring(0, 10);

            document.getElementById("date_start").value = week_result;
            document.getElementById("date_end").value = now_result;
        })

        document.getElementById("monthbtn").addEventListener("click", function (){

            let month = new Date();
            month.setMonth(month.getMonth()- 1);
            var month_result =month.toISOString().substring(0, 10);


            document.getElementById("date_start").value = month_result;
            document.getElementById("date_end").value = now_result;
        })

        document.getElementById("three_monthbtn").addEventListener("click", function (){

            let three_month = new Date();
            three_month.setMonth(three_month.getMonth()- 3);
            var three_month_result =three_month.toISOString().substring(0, 10);


            document.getElementById("date_start").value = three_month_result;
            document.getElementById("date_end").value = now_result;
        })

        //검색하기
        $('#schbtn').click(function (){
            $('.tbody').remove();
            let type = $('#type').val() //1,2,3,4
            let text =$('#text').val() // string
            let datestart =$('#date_start').val() //0000-00-00
            let dateEnd =$('#date_end').val() //0000-00-00

            axios.get("api/notice/list?type="+type+"text="+text+"datestart="+datestart+"dateEnd="+dateEnd,{
            }).then(function (response){
                for(let i in response.data.data){
                    let $id =response.data.data[i].idx;
                    let $title=response.data.data[i].title;
                    let $type= response.data.data[i].type;
                    let $content=response.data.data[i].content;
                    let $regdate=response.data.data[i].regdate;
                    let k = parseInt(i)+1


                    let row = $('<tr>').append(
                        '<td class="tbody"><input type="checkbox" class="NoticeCheck" name="notice" onclick="No_checkSelectAll()" id="No_check"'+i+' value=' +
                        $id+'><label for="No_check"'+i+'></td>' +
                        '<td>' + k + '</a></td>' +
                        '<td><a href="/api/notice/edit/ '+ $id +'">' + $title + '</td>' +
                        '<td>' + $content + '</td>' +
                        '<td class="type">' + $type + '</td>' +
                        '<td>' + $regdate + '</td></tr>'
                    )
                    $('.thead').after(row);
                }
            }).catch(function (err){
                console.log(err)
            })
            let typeFlg = document.querySelectorAll(".type");
            for (let i =0; typeFlg.length; i++){
                if(typeFlg[i].innerText==1){
                    typeFlg[i].innerText="일반"
                }else if(typeFlg[i].innerText==2){
                    typeFlg[i].innerText="이벤트"
                }else if(typeFlg[i].innerText==3){
                    typeFlg[i].innerText="배송지연"
                }
                else if(typeFlg[i].innerText==4){
                    typeFlg[i].innerText="상품"
                }
            }
        })
    })


    $(function () {
        //선택삭제
        $('#delbtn').click(function (){
            let id = [];
            ($("input:checkbox[name='notice']:checked").each(function (e){
                id.push($(this).val())
            }));
            id = String(id)
            console.log(id)

            axios.delete("/api/notice/deleteList/" + id,  {
            }).then(function (){
                alert("공지사항 삭제 성공")
            })
        }).catch(function (err){
            console.log(err)
        })
    })

</script>
<body>
<!--content_title 시작-->
<div class="content_title">
    <p>고객센터<span>공지사항 관리</span></p>
</div>
<!--content_title 끝-->
<!--Notice 시작-->
<div class="Notice">
    <!--No_c1 시작-->
    <div class="No_c1">
        <!--form 시작-->
        <form name="notice_search">
            <p class="product_title" id="No_c1_title"><label>공지사항 조회</label><span style="margin-left: 20px;"><input type="button" name="button" value="공지사항 등록하기" onclick="No_location_1()"></span></p>
            <!--table 시작-->
            <table>
                <tr>
                    <th>제목</th>
                    <td>
                        <input type="text" name="text" id="text" placeholder="공지사항 제목 입력">
                    </td>
                </tr>
                <tr>
                    <th>분류</th>
                    <td>
                        <select style="width: 155px; padding-left: 10px;" id="type">
                            <option value="1">일반</option>
                            <option value="2">이벤트</option>
                            <option value="3">배송지연</option>
                            <option value="4">상품</option>>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th width="100">기간</th>
                    <td>
                        <input type="date" name="date" value="기간필터" id="date_start"> - <input type="date" name="date" value="기간필터" id="date_end">
                        <span class="datebtn">
                            <input type="button" name="button" value="최근 1주일" id="weekbtn">
                            <input type="hidden" id="week" value="null">
                            <input type="button" name="button" value="최근 1개월" id="monthbtn">
                            <input type="hidden" id="month" value="null">
                            <input type="button" name="button" value="최근 3개월" id="three_monthbtn">
                            <input type="hidden" id="threemonth" value="null">
                        </span>
                    </td>
                </tr>
            </table>
            <!--table 끝-->
            <!--No_c1_btnBox 시작-->
            <div class="bottom_btn" id="No_c1_btnBox">
                <span><input type="reset" name="reset" value="초기화"></span>
                <span><input type="button" name="submit" value="검색" id="schbtn"></span>
            </div>
            <!--No_c1_btnBox 끝-->
        </form>
        <!--form 끝-->
    </div>
    <!--No_c1 끝-->
    <!--No_c2 시작-->
    <div class="No_c2">
        <!--No_c2_title 시작-->
        <div id="No_c2_title" class="green_title">
            <p>공지사항 목록<span>(<span>현재 등록 : 10개</span>)</span></p>
        </div>
        <!--No_c2_title 끝-->
        <!--form 시작-->
        <form name="notice_list">
                <span>
                    <input type="button" name="button" value="선택삭제" id="delbtn">
                </span>
            <!--table 시작-->
            <table width="100%" class="list_table">
                <tr class="thead">
                    <th width="5%"><input type="checkbox" class="NoticeCheck" id="No_check" name="selectall" onclick="No_selectAll(this)"><label for="No_check"></th>
                    <th width="10%">번호</th>
                    <th width="25%">제목</th>
                    <th width="25%">내용</th>
                    <th>분류</th>
                    <th width="20%">등록일</th>
                </tr>
            </table>
            <!--table 끝-->
            <!-- pageBox 시작-->
            <div class="pageBox">
                <ul>
                    <li id="Maxprev"><a href="#"><<</a></li>
                    <li><a href="#"><</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">></a></li>
                    <li id="Maxnext"><a href="#">>></a></li>
                </ul>
            </div>
            <!-- pageBox 끝-->
        </form>
        <!--form 끝-->
    </div>
    <!--No_c2 끝-->
</div>
<!--Notice 끝-->
</body>
</html>