<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>고객센터 | 공지사항 관리</title>
    <link rel="stylesheet" href="/static/admin/css/style2.css">
    <script type="text/javascript" src="/admin/ckeditor/ckeditor.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<script>
    $(function (){
        const id = $("#id").val();

        axios.get('/api/notice/list' + id, {

        }).then(function(response){
            const type = response.data.type;
            const title = response.data.title;
            const content = response.data.content;

            document.getElementById("type").value = type;
            document.getElementById("title").value = title;
            CKEDITOR.instances.NE_editor.setData(content);

        }).then(function (err){
        })
    });

    function edit(){
        let id = $('#id').val();
        let type = $('#type').val();
        let title = $('#title').val();
        let content = $('#NE_editor').val();

        axios.put('/api/notice/update/'+id, {
            headers: {'Content-type': 'application/json'},
            data: {
                type: type,
                title: title,
                content: content
            }
        }).then(function (){
            alert('수정되었습니다'),
                location.href='/admin/notice/list'
        })
    }
</script>
<body>
<!--content_title 시작-->
<div class="content_title"><p>고객센터<span>공지사항 관리</span></p></div>
<!--content_title 끝-->
<!--Nedit 시작-->
<div class="Nedit">
    <!--form 시작-->
    <form name="notice_edit" onsubmit="return edit()">
        <p class="product_title" id="NE_c1_title"><label>공지사항 수정</label></p>
        <!--table 시작-->
        <table>
            <tr>
                <th>분류</th>
                <td>
                    <select id="type">
                        <option value="일반">일반</option>
                        <option value="이벤트">이벤트</option>
                        <option value="배송지연">배송지연</option>
                        <option value="상품">상품</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>제목</th>
                <td><input type="text" name="text" placeholder="100자 이내로 입력하세요" maxlength="100" id="title"></td>
            </tr>
        </table>
        <!--table 끝-->
        <!--NE_c2_title 시작-->
        <div id="NE_c2_title" class="green_title">
            <p>HTML</p>
        </div>
        <!--NE_c2_title 끝-->
        <!-- CKEditor 시작-->
        <textarea name="productText" id="NE_editor" cols="30" rows="10"></textarea>
        <script type="text/javascript">
            CKEDITOR.replace('NE_editor'
                , {height: 300
                });
        </script>
        <!-- CKEditor 끝-->
        <!--NE_c1_btnBox 시작-->
        <div id="NE_c1_btnBox" class="bottom_btn">
            <span><input type="reset" name="reset" value="초기화"></span>
            <span><input type="submit" name="submit" value="수정"></span>
        </div>
        <!--NE_c1_btnBox 끝-->
    </form>
    <!--form 끝-->
</div>
<!--Nedit 끝-->
</body>
</html>