<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>헬로네이처 추천 관리 | 기획전/이벤트</title>
<script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous">
</script>
    <link rel="stylesheet" href="/admin/css/style2.css">
    <script src="/admin/js/checkbox.js"></script>
</head>
<script>
    $(function (){
        //http://127.0.0.1:9999/api/event/list?typeFlag=?&dateStart=?&dateEnd=? //전체보여주기
        let tb = $('<tbody>');
        //api/event/list
        axios.get('api/event/list',{
        }).then(function (response){
            for(let i in response.data.data){
                let $id = response.data.data[i].id;
                let $typeFlag = response.data.data[i].typeFlag;
                let $ingFlag= response.data.data[i].ingFlag;
                let $dateStart= response.data.data[i].dateStart;
                let $dateEnd = response.data.data[i].dateEnd;
                let $image= response.data.data[i].image;
                let $title= response.data.data[i].title;
                let $des = response.data.data[i].des;
                let $content = response.data.data[i].content;

                let row = $('<tr>').append(
                    '<td><input type="checkbox" class="ELCheck" id="EL_check"'+i+'value='+$id+'><label for="EL_check"'+i+'></td>' +
                    '<td>' + i + '</td>' +
                    '<td>' + $typeFlag + '</td>' +
                    '<td>' + $title + '</td>' +
                    '<td>' + $dateStart + '~' + $dateEnd + '</td>' +
                    '<td><input type="hidden" value='+$ingFlag+' class="ingFlag">' + $ingFlag + '</td>'
                )
                tb.append(row);
            }
            tb.append('</tobdy>')
            $('.thead').after(tb);
        }).catch(function (err){
            console.log(err)
        })
    });


    //http://127.0.0.1:9999/api/event/list?typeFlag=?&dateStart=?&dateEnd=? // 검색
    $(function () {
        let now = new Date();
        let now_result = now.toISOString().substring(0,10);

        document.getElementById("weekbtn").addEventListener("click", function (){

            let week = new Date();
            week.setDate(week.getDate()- 7);
            var week_result = week.toISOString().substring(0, 10);

            document.getElementById("date_start").value = week_result;
            document.getElementById("date_end").value = now_result;
        })

        document.getElementById("monthbtn").addEventListener("click", function (){

            let month = new Date();
            month.setMonth(month.getMonth()- 1);
            var month_result =month.toISOString().substring(0, 10);


            document.getElementById("date_start").value = month_result;
            document.getElementById("date_end").value = now_result;
        })

        document.getElementById("three_monthbtn").addEventListener("click", function (){

            let three_month = new Date();
            three_month.setMonth(three_month.getMonth()- 3);
            var three_month_result =three_month.toISOString().substring(0, 10);


            document.getElementById("date_start").value = three_month_result;
            document.getElementById("date_end").value = now_result;
        })

        $('#schbtn').click(function (){

            let type = $('#type').val() //1,2,3,4
            let text =$('#text').val() // string
            let datestart =$('#date_start').val() //0000-00-00
            let dateEnd =$('#date_end').val() //0000-00-00

            let tb= $("<tbody>");
            axios.get("api/event/list?typeFlag="+type+"&datestart="+datestart+"&dateEnd="+dateEnd+"&text="+text,{
            }).then(function (response){
                for(let i in response.data.data){
                    let $id = response.data.data[i].id;
                    let $typeFlag = response.data.data[i].typeFlag;
                    let $ingFlag= response.data.data[i].ingFlag;
                    let $dateStart= response.data.data[i].dateStart;
                    let $dateEnd = response.data.data[i].dateEnd;
                    let $image= response.data.data[i].image;
                    let $title= response.data.data[i].title;
                    let $des = response.data.data[i].des;
                    let $content = response.data.data[i].content;;

                    let row = $('<tr>').append(
                        '<td><input type="checkbox" class="ELCheck" id="EL_check"+i value='+$id+'><label for="EL_check"+i></td>' +
                        '<td>' + i + '</td>' +
                        '<td>' + $typeFlag + '</td>' +
                        '<td>' + $title + '</td>' +
                        '<td>' + $dateStart + '~' + $dateEnd + '</td>' +
                        '<td><input type="hidden" value='+$ingFlag+' class="ingFlag">' + $ingFlag + '</td>'
                    )
                    tb.append(row);
                }
                tb.append('</tbody>')
                $('.thead').after(tb);
            }).catch(function (err){
                console.log(err)
            })
            let ingFlag = document.querySelectorAll(".ingFlag");
            for (let i =0; ingFlag.length; i++){
                if(ingFlag[i].innerText==1){
                    ingFlag[i].innerText="전시중"
                }else{
                    ingFlag[i].innerText="전시종료"
                }
            }
        })
    })


    $(function (){
        $("#delbtn").click(function(){
            let id = [];
            ($("input:checkbox[name='event']:checked").each(function (e) {
                id.push($(this).val())
            }));
            console.log(id)

            axios.delete("/api/event/delete"+id, {
            }).then(function () {
                alert("이벤트 삭제 성공")
            })
        }).catch(function (err) {
            console.log(err)
        })
    })
</script>
<body>
    <!--content_title 시작-->
    <div class="content_title">
        <p>헬로네이처 추천 관리<span>기획전/이벤트</span></p>
    </div>
    <!--content_title 끝-->
    <!--content_title_click 시작-->
    <div class="content_title_click">
        <a onclick="EL_location_1()" id="EL_click_1">기획전/이벤트 목록</a>
        <a onclick="EL_location_2()">기획전/이벤트 등록</a>
    </div>
    <!--content_title_click 끝-->
    <!--Event_list 시작-->
    <div class="Event_list">
        <!--EL_c1 시작-->
        <div class="EL_c1">
            <!--form 시작-->
            <form name="event_search">
                <p id="EL_c1_title" class="product_title"><label>기획전/이벤트 조회</label></p>
                <!--table 시작-->
                <table>
                    <tr>
                        <th width="80">진행기간</th>
                        <td><input type="date" name="date" id="date_start"> - <input type="date" name="date" id="date_end"></td>
                    </tr>
                    <tr>
                        <th>분류</th>
                        <td>
                            <select style="height: 38px;">
                                <option value="기획전">기획전</option>
                                <option value="이벤트">이벤트</option>
                            </select>
                            <input type="text" name="text" placeholder="기획전/이벤트명을 검색하세요">
                        </td>
                    </tr>
                </table>
                <!--table 끝-->
                <div class="bottom_btn">
                    <span><input type="reset" name="reset" value="초기화"></span>
                    <span><input type="submit" name="submit" value="검색" id="schbtn"></span>
                </div>
            </form>
            <!--form 끝-->
        </div>
        <!--EL_c1 끝-->
        <!--EL_c2 시작-->
        <div class="EL_c2">
            <!--EL_c2_title 시작-->
            <div id="EL_c2_title" class="green_title">
                <p>등록 상품 목록 <span>(<span>현재 등록 상품 : 2개</span>)</span></p>
            </div>
            <!--EL_c2_title 끝-->
            <!--form 시작-->
            <form name="event_list">
                <span>
                    <input type="button" name="button" value="선택삭제">
                </span>
                <span>
                    <select class="list_select" id="EL_display">
                        <option value="1">전시중</option>
                        <option value="2">전시종료</option>
                    </select>
                    <input type="submit" name="submit" value="적용">
                </span>
                <!--table 시작-->
                <table width="100%" class="list_table">
                    <thead>
                    <tr>
                        <th width="5%"><input type="checkbox" value="ELCheck" id="EL_check" name="selectall" onclick="EL_selectAll(this)"><label for="EL_check"></label></th>
                        <th width="10%">번호</th>
                        <th width="15%">분류</th>
                        <th width="30%">기획전/이벤트명</th>
                        <th width="25%">진행기간</th>
                        <th width="15%">진행상태</th>
                    </tr>
                    </thead>
                    <tr>
                        <td><input type="checkbox" value="ELCheck" id="EL_check_1" name="event" onclick="EL_checkSelectAll()"><label for="EL_check_1"></label></td>
                        <td>예시</td>
                        <td>예시</td>
                        <td>예시</td>
                        <td>예시</td>
                        <td>예시</td>
                    </tr>
                </table>
                <!--table 끝-->
                <div class="pageBox">
                    <ul>
                        <li id="Maxprev"><a href="#"><<</a></li>
                        <li><a href="#"><</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">></a></li>
                        <li id="Maxnext"><a href="#">>></a></li>
                    </ul>   
                </div> 
            </form>
            <!--form 끝-->
        </div>
        <!--EL_c1 끝-->
    </div>
    <!--Event_list 끝-->
</body>
</html>