<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>전체 상품 관리 | 상품 후기</title>
    <link rel="stylesheet" href="/admin/css/style2.css">
    <script src="/admin/js/checkbox.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous">
    </script>
    <script>
        $(function (){
            axios.get("/api/productReview/read", {
            }).then(function (response){
                let tb = $('<tbody>')
                for (let i in response.data.data){
                    let $id = response.data.data[i].id;
                    let $name = response.data.data[i].name;
                    let $proIdx = response.data.data[i].proIdx;
                    let $userid = response.data.data[i].userid;
                    let $hp = response.data.data[i].hp;
                    let $regdata = response.data.data[i].regdate;
                    let $ansFlag = response.data.data[i].ansFlag;
                    let $writer = response.data.data[i].writer;
                    let k = parseInt(i) + 1
                    $regdata = $regdata.toString().substring(0,10);

                    let row = $('<tr>').append(
                        '<td><input type="checkbox" id="PR_check_' + k + '"name="review" onclick="PR_checkSelectAll()" value="' + $id + '"><label for="PR_check_' + k + '"></label></td>' +
                        '<td>'+$name+'</td>' +
                        '<td>'+$proIdx+'</td>' +
                        '<td>'+ $userid + '/' + $hp +'/' + $writer +'</td>' +
                        '<td>'+ $regdata + '</td>'+
                        '<td class="ansFlag"><input type="hidden" value=' + $ansFlag + '>' + $ansFlag + '</td></tr>'
                    )
                    tb.append(row)
                }
                tb.append($('</tbody>'));
                $(".thead").after(tb)
                let ansFlag = document.querySelectorAll(".ansFlag");
                for (let i =0; ansFlag.length; i++){
                    if(ansFlag[i].innerText==1){
                        ansFlag[i].innerText="답변완료"
                    }else{
                        ansFlag[i].innerText="답변대기"
                    }
                }
            }).catch(function (err){
                console.log(err)
            })
        })

        function sendit(){
            $(".list_table > tbodpy").remove()
            let ansFlag = $("#select").val()
            let search = $("#title").val()

            axios.get("/api/productReview/list?ansFlag="+ansFlag+"&search=" + search, {
            }).then(function (response){
                let tb = $('<tbody>')
                for (let i in response.data.data){
                    let $id = response.data.data[i].id;
                    let $name = response.data.data[i].name;
                    let $proIdx = response.data.data[i].proIdx;
                    let $userid = response.data.data[i].userid;
                    let $hp = response.data.data[i].hp;
                    let $regdata = response.data.data[i].regdate;
                    let $ansFlag = response.data.data[i].ansFlag;
                    let $writer = response.data.data[i].writer;
                    let k = parseInt(i) + 1
                    $regdata = $regdata.toString().substring(0,10);

                    let row = $('<tr>').append(
                        '<td><input type="checkbox" id="PR_check_' + k + '"name="review" onclick="PR_checkSelectAll()" value="' + $id + '"><label for="PR_check_' + k + '"></label></td>' +
                        '<td>'+$name+'</td>' +
                        '<td>'+$proIdx+'</td>' +
                        '<td>'+ $userid + '/' + $hp +'/' + $writer +'</td>' +
                        '<td>'+ $regdata + '</td>'+
                        '<td class="ansFlag"><input type="hidden" value=' + $ansFlag + '>' + $ansFlag + '</td></tr>'
                    )
                    tb.append(row)
                }
                tb.append($('</tbody>'));
                $(".thead").after(tb)
                let ansFlag = document.querySelectorAll(".ansFlag");
                for (let i =0; ansFlag.length; i++){
                    if(ansFlag[i].innerText==1){
                        ansFlag[i].innerText="답변완료"
                    }else{
                        ansFlag[i].innerText="답변대기"
                    }
                }
            })
        }
    </script>
</head>
<body>
    <!--content_title 시작-->
    <div class="content_title">
        <p>전체 상품 관리<span>상품 후기</span></p>
    </div>
    <!--content_title 끝-->
    <!--Review_list 시작-->
    <div class="Review_list">
        <!--PR_c1 시작-->
        <div class="PR_c1">
            <!--form 시작-->
            <form name="pro_review_search">
                <p id="PR_c1_title" class="product_title"><label>후기 조회</label></p>
                <!--table 시작-->
                <table>
                    <tr>
                        <th width="100">상품 검색</th>
                        <td>
                            <select style="width: 90px; padding-left: 10px;" id="select">
                                <option value="">전체</option>
                                <option value="1">답변완료</option>
                                <option value="0">답변대기</option>
                            </select>
                            <input type="text" name="text" placeholder="상품명을 입력하세요" id="title">
                        </td>
                    </tr>
                </table>
                <!--table 끝-->
                <!--PR_c1_btnBox 시작-->
                <div class="bottom_btn" id="PR_c1_btnBox">
                    <span><input type="button" name="button" value="초기화"></span>
                    <span><input type="button" name="button" value="검색"></span>
                </div>
                <!--PR_c1_btnBox 끝-->
            </form>
            <!--form 끝-->
        </div>
        <!--PR_c1 끝-->
        <!--PR_c2 시작-->
        <div class="PR_c2">
            <!--OL_c2_title 시작-->
            <div id="PR_c2_title" class="green_title">
                <p>상품 후기 목록 <span>(<span>현재 등록 후기 : 2개</span> <span>답변대기 : 1개</span> <span>답변완료 : 1개</span>)</span></p>
            </div>
            <!--PR_c2_title 끝-->
            <!--form 시작-->
            <form name="review_list">
                <span>
                    <input type="button" name="button" value="선택삭제">
                </span>
                <!--table 시작-->
                <table width="100%" class="list_table">
                    <thead class="thead">
                        <tr>
                            <th width="5%"><input type="checkbox" id="PR_check_1" name="selectall" onclick="PR_selectAll(this)"><label for="PR_check_1"></label></th>
                            <th width="15%">상품명</th>
                            <th width="15%">상품번호</th>
                            <th width="25%">아이디/연락처/작성자</th>
                            <th width="25%">등록/처리날짜</th>
                            <th width="15%">답변상태</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><input type="checkbox" id="PR_check_2" name="review" onclick="PR_checkSelectAll()"><label for="PR_check_2"></td>
                        <td>예시</td>
                        <td>예시</td>
                        <td>예시</td>
                        <td>예시</td>
                        <td>예시</td>
                    </tr>
                    </tbody>
                </table>
                <!--table 끝-->
                <!-- pageBox 시작-->
                <div class="pageBox">
                    <ul>
                        <li id="Maxprev"><a href="#"><<</a></li>
                        <li><a href="#"><</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">></a></li>
                        <li id="Maxnext"><a href="#">>></a></li>
                    </ul>
                </div>
                <!-- pageBox 끝-->
            </form>
            <!--form 끝-->
        </div>
        <!--PR_c2 끝-->
    </div>
    <!--Review_list 끝-->
</body>
</html>