<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원 장바구니</title>
    <link rel="stylesheet" type="text/css" th:href="@{/user/css/mypage.css/inner.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/user/css/mypage.css/common2.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/user/css/layout.css}">
    <style>
        #mypage-box { overflow: hidden; height: 100%; overflow-y: auto;}
        .container { min-width: 1050px; margin: 0 auto; height: 100%;}
        .main { margin-bottom: 50px !important;}
    </style>
    <script>
        // 회원 로그인 | 비회원 로그인
        $(document).ready(function(){
          $("#member_click").click(function(){
            $(".member_form").show();
            $(".member_choice").eq(0).addClass("member_line");
            $(".notmember_form").hide();
            $(".member_choice").eq(1).removeClass("member_line");

            $(".mem_login").addClass("member_line_checked");
            $(".nomem_login").removeClass("member_line_checked");
          });
          $("#notmember_click").click(function(){
            $(".member_form").hide();
            $(".member_choice").eq(0).removeClass("member_line");
            $(".notmember_form").show();
            $(".member_choice").eq(1).addClass("member_line");

            $(".mem_login").removeClass("member_line_checked");
            $(".nomem_login").addClass("member_line_checked");
          });
        });

        $(".mem_login").click(function() {
          $(".mem_login").addClass('member_line_checked');
        })
    </script>
</head>
<body>
    <div id="mypage-box">
        <div class="container">
            <div th:replace="/user/fragment/header::header"></div>
            <div class="main">
                <section id="content">                
                    <div id="goods_cart_box">
                        <div id="goods_cart_title">
                            <h1>장바구니</h1>
                        </div>        
                        <!-- 장바구니 내용 전체 감싸는 박스 -->
                        <div id="goods_cart_item_box">
                            <form action="" method="post" class="goodsCartForm">
                                <div class="goods_cart_checkbox">
                                    <span class="goods_cart_all"></span>
                                    <span>전체선택</span>
                                    <span> | </span>
                                    <span>선택삭제</span>
                                </div>
                                <div class="goods_cart_wrap">                                
                                    <div id="cartItemsList">                                  
                                        <div class="goods_cart_listbox">                                    
                                            <div class="goods_cart_dail_date">
                                                <span>새벽배송</span>
                                                <span>08.25 (수) 도착 예정</span>
                                            </div>
                                            <ul class="goods_cart_itembox">
                                                <li class="goods_cart_item">
                                                    <div class="inner_goods_cart_item">
                                                        <div class="cart_check_btn"></div>
                                                        <div><img src="/user/images/mypage.img/helloNature.png" alt=""></div>
                                                        <div>
                                                            <span>[브랜드명]</span>
                                                            <span>상품이름상품이름상품이름</span>
                                                        </div>
                                                        <div class="item_count">
                                                            <button class="minus_btn"></button>
                                                            <span class="item_ea">1</span>
                                                            <button class="plus_btn"></button>
                                                        </div>
                                                        <div>10,500원</div>
                                                        <div>✖</div>
                                                    </div>
                                                </li>
                                                <li class="goods_cart_item">
                                                    <div class="inner_goods_cart_item">
                                                        <div class="cart_check_btn"></div>
                                                        <div><img src="/user/images/mypage.img/helloNature.png" alt=""></div>
                                                        <div>
                                                            <span>[브랜드명]</span>
                                                            <span>상품이름상품이름상품이름</span>
                                                        </div>
                                                        <div class="item_count">
                                                            <button class="minus_btn"></button>
                                                            <span class="item_ea">1</span>
                                                            <button class="plus_btn"></button>
                                                        </div>
                                                        <div>10,500원</div>
                                                        <div>✖</div>
                                                    </div>
                                                </li>
                                                <li class="goods_cart_item">
                                                    <div class="inner_goods_cart_item">
                                                        <div class="cart_check_btn"></div>
                                                        <div><img src="/user/images/mypage.img/helloNature.png" alt=""></div>
                                                        <div>
                                                            <span>[브랜드명]</span>
                                                            <span>상품이름상품이름상품이름</span>
                                                        </div>
                                                        <div class="item_count">
                                                            <button class="minus_btn"></button>
                                                            <span class="item_ea">1</span>
                                                            <button class="plus_btn"></button>
                                                        </div>
                                                        <div>10,500원</div>
                                                        <div>✖</div>
                                                    </div>
                                                </li>
                                            </ul>                                      
                                        </div>
                                    </div>
                                    <div class="inner_result">
                                        <div class="cart_delivery">
                                            <h3>배송지</h3>
                                            <div class="address">
                                                <p class="addr">주소</p>
                                                <p class="delivery_star">새벽배송</p>
                                                <button id="mem_addr_change_btn" class="change_addr_btn">배송지 변경</button>
                                            </div>
                                        </div>
                                        <div class="amount_view">
                                            <dl class="amount">
                                                <dt class="tit">상품금액</dt>
                                                <dd class="price">
                                                    <span class="num">3,650</span>
                                                    <span class="won">원</span>
                                                </dd>
                                            </dl>
                                            <dl class="amount">
                                                <dt class="tit">상품할인금액</dt>
                                                <dd class="price">
                                                    <span class="num">0</span>
                                                    <span class="won">원</span>
                                                </dd>
                                            </dl>
                                            <dl class="amount">
                                                <dt class="tit">배송비</dt>
                                                <dd class="price">
                                                    <span class="num">0</span>
                                                    <span class="won">원</span>
                                                </dd>
                                            </dl>
                                            <dl class="amount_lst">
                                                <dt class="tit">결제예정금액</dt>
                                                <dd class="price">
                                                    <span class="num">3,650</span>
                                                    <span class="won">원</span>
                                                </dd>
                                            </dl>
                                            <dl class="reserve">
                                                <dd class="bage">적립</dd>
                                                <dd class="emph">구매 시 183원 적립</dd>
                                            </dl>                                        
                                        </div>
                                        <button id="order_btn">주문하기</button>
                                        <div class="order_bottom_msg">
                                            <ul>
                                                <li>‘입금확인’ 상태일 때는 주문 내역 상세에서 직접 주문취소가 가능합니다.</li>
                                                <li>‘입금확인’ 이후 상태에는 고객센터로 문의해주세요.</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>                                                  
                    </div>
                </section>               
            <!-- main 끝 -->
            </div>
            <div th:replace="/user/fragment/footer::footer"></div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script type="text/javascript" th:src="@{user/js/mypage.js/script.js}"></script>
    <script type="text/javascript" th:src="@{user/js/mypage.js/regist.js}"></script>
    <script type="text/javascript" th:src="@{user/js/mypage.js/regist2.js}"></script>
    <script type="text/javascript" th:src="@{/user/js/index.js}"></script>
    <script type="text/javascript" th:src="@{/user/js/index_q.js}"></script>
</body>
</html>
